# IDE
.idea/

# Vendors
# Node is hidden (usually) to stop Spress trying to track it.
vendor/
.node_modules/
node_modules/

# Framework binaries
composer.phar
spress.phar

# Binaries
src/content/download/*

# Compiled
build/
src/content/assets/css/*
src/content/assets/js/*

# Directory persisted
!.gitkeep