---
layout: "page"
subtitle: "Tinkering with all the things."
generator: "pagination"
provider: "site.posts"
max_page: 5
sort_by: "date"
---
{% for post in page.pagination.items %}
<div class="post-preview">
    <a href="{{ site.url }}{{ post.url }}">
        <div class="post-thumbnail" style="background-image:url('{{ site.url }}{{ post.thumb_img }}');"></div>
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        <span class="sr-only">Posted by </span>
        {{ post.author }} - <abbr title="{{ post.date | date('Y-m-d\\TH:i:s.uP') }}">{{ post.date | date('F jS Y') }}</abbr>
    </p>
</div>
<hr>
{% endfor %}

{% include "paginator.html" %}
